import React, { Component } from 'react';

import './style.pcss';

export default class {{name}} extends Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div className="{{name}}">
        <p>
            I'm the stateful <code>{{name}}</code> component.
        </p>
      </div>
    );
  }
}
