import React from 'react';

const {{name}} = (props) => {
    return (
        <div>
            <p>
                Hello I'm "<{{name}} />" component!
            </p>
        </div>
    )
}

export default {{name}}
